body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;

}
.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: 3fr 7fr;

  height: 100%;
}

.globe-section {
  background-color: #fff;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  min-height: 100%;
}

.filter-section {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}




.info-section {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow-y: auto;
}


/* hide cesium elements */
.cesium-viewer-animationContainer, .cesium-viewer-timelineContainer, .cesium-viewer-bottom, .cesium-viewer-fullscreenContainer, .cesium-viewer-toolbar {
  display: none !important;
}
