project.mdljh
/project_meta/project.md
/system_architecture_diagram/
/project_meta/cal
/data/
.idea/
backend/projects_service/manifest_bak/
frontend/src/assets
project_meta/system_architecture_diagram
scripts/venv
frontend/public/assets
business_data/
backend/mail_service/src/main/resources/application.properties